In [1]:
import numpy, pandas
from mystats import Summary

In [2]:
spy = pandas.read_csv('SPY.csv', parse_dates=['Date'])

spy = spy.assign(cal_days=spy['Date'].diff())
spy = spy.assign(log_pct_gain=100*numpy.log(spy['Adj Close']).diff())

spy = spy.iloc[1:]

spy = spy.assign(cal_days=spy.cal_days.dt.days)

In [3]:
spy_summary = Summary(spy.log_pct_gain, spy.cal_days)
spy_summary

Mean: 0.03655. Standard deviation: 1.144. Skewness: -0.1447. Kurtosis: 13.35.

      days         x   z_score
1        3  0.708648  0.587682
2        1  0.211649  0.153107
3        1  1.051542  0.887509
4        1  0.417544  0.333141
5        1 -0.069448 -0.092685
...    ...       ...       ...
6752     1 -0.372573 -0.357737
6753     1 -0.161020 -0.172756
6754     1  0.222141  0.162280
6755     3  0.772033  0.643106
6756     1  0.226310  0.165926

[6756 rows x 3 columns]